<!DOCTYPE html>
<html>
  <head>
    <title>Colloquium</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container contents">
      <% if flash[:notice] != nil %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] != nil %>
        <div class="alert alert-danger">
          <% if flash[:alert].class == Array %>
            <p><strong>Something went wrong!</strong></p>
            <ul>
              <% flash[:alert].each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% else %>
            <%= flash[:alert] %>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
